.ContactForm {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-content: center;
  align-items: center;
}
.ContactForm label {
  font-size: 1rem;
  color: var(--clr-gray);
  margin-top: 30px;
}
.ContactForm input, .ContactForm textarea, .ContactForm button {
  margin-bottom: var(--spc-med);
  padding: 13px;
  margin: 5px 0;
  width: 100%;
  border-radius: 5px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}
.ContactForm button svg {
  width: 1rem;
  height: 1rem;
}
.ContactForm section {
  width: 100%;
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
}
.ContactForm fieldset {
  padding: 0;
  margin-bottom: 15px;
  border: 0;
  outline: none;
}

.Contact-socials {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  list-style-type: none;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}
.Contact-socials li {
  padding: 5px 0;
  display: flex;
  align-items: center;
  align-content: center;
}
.Contact-socials svg {
  width: 1rem;
  height: 1rem;
  color: var(--clr-black);
  margin: 5px;
}

.SendButton {
  color: #ffffff;
  background: linear-gradient(to right, #77bbff, var(--clr-primary));
  box-shadow: 0 5px 12px rgba(158, 158, 255, 0.5);
}
.SendButton.is-idle {
  cursor: pointer;
}
.SendButton.is-success {
  background: linear-gradient(to right, #94d64f, #4ebd6e);
  box-shadow: 0 5px 12px rgba(148, 214, 79, 0.5);
}
.SendButton.is-failure {
  background: linear-gradient(to right, #d65270, #bd4a36);
  box-shadow: 0 5px 12px rgba(214, 82, 112, 0.5);
}

@media screen and (min-width: 760px) {
  .ContactForm section {
    max-width: 700px;
  }

  .Contact-socials {
    flex-direction: row;
  }
}
