.u-noMargin { margin: 0; }
.u-noPadding { padding: 0; }
.u-marginVMed { margin: var(--spc-med) 0; }
.u-marginHMed { margin: 0 var(--spc-med); }
.u-fullWidth { width: 100%; }
.u-alignRight { text-align: right; }

.u-flexH {
  display: flex;
  flex-direction: row;
}

.u-flexV {
  display: flex;
  flex-direction: column;
}

.u-centerMain {
  justify-content: center;
  align-items: center;
  align-content: center;
}

.u-flexEnd {
  align-items: flex-end;
  align-content: flex-end;
  justify-content: flex-end;
}

.u-spaceBetween {
  justify-content: space-between;
}

.u-spaceAround {
  justify-content: space-around;
}

.u-flexWrap {
  flex-wrap: wrap;
}
